---
layout: layouts/base.njk
pageTitle: 11ty Starter with Tailwind and PostCSS
description: Tailwind configuration is an out-of-the-box install with no customization.
---


<div class="bg-gray-800 max-w-screen-sm mx-auto border p-8 shadow-md mt-4 text-white">
<h1 class="text-3xl lg:text-4xl mb-4">{{pageTitle}}</h1>
<p>{{description}}</p>
</div>